board.png
white_pawn.png
tiles/black_bishop.png
tiles/black_king.png
tiles/black_knight.png
tiles/black_pawn.png
tiles/black_queen.png
tiles/black_rook.png
tiles/white_bishop.png
tiles/white_king.png
tiles/white_knight.png
tiles/white_queen.png
tiles/white_rook.png
